spring:
  application:
    name: account-service

  datasource:
    url: jdbc:postgresql://localhost:5433/accountdb
    username: admin
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        use_sql_comments: true
    open-in-view: false

  main:
    banner-mode: console
    web-application-type: reactive
    allow-bean-definition-overriding: false

  jackson:
    serialization:
      write-dates-as-timestamps: false
      indent-output: false
    deserialization:
      fail-on-unknown-properties: false
    default-property-inclusion: non_null
    time-zone: UTC
    date-format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX
server:
  port: 1021

# Integration with other microservices
integration:
  api-customer:
    url: http://localhost:1020

springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    display-request-duration: true
    operations-sorter: method
    tags-sorter: alpha
  show-actuator: false